.row.article--item{ class: article_classes(article) }
  %a.medium-12.columns.article--link{:href => article.url}
    %span.article--title= article.title
    - if article.data['description']
      %p.article--description= article.data['description']
    - else
      %p.article--meta
        %span.article--tags
          - if article.tags.length > 1
            Tagged with
            = succeed '.' do
              = tags_for_article(article.tags)
        %time
          Written on
          = succeed "." do
            = article.date.strftime('%B %e %Y')


-# .row{ class: article_classes(article) }
-#   %a.medium-12.columns{:href => article.url}
-#     %span.article-title= article.title
-#     - if article.data['description']
-#       %p.meta
-#         = article.data['description']
-#     - else
-#       %p.meta
-#         - if article.tags.length > 1
-#           %span.tags
-#             Tagged with
-#             = succeed '.' do
-#               = tags_for_article(article.tags)
-#         %time
-#           Written on
-#           = succeed "." do
-#             = short_date(article.date)
