.row.article--item{ class: article_classes(article) }
  %a.medium-12.columns.article--link{:href => article.data['url'] || article.url, target: article.data['url'] ? '_blank' : ''}
    %span.article--title
      - if article.data['external']
        %i.fi-link.article--flair
      = article.title
    - if article.data['description']
      %p.article--description= article.data['description']
    - else
      %p.article--meta
        - if article.tags.length > 0
          %span.article--tags
            Tagged with
            = succeed '.' do
              = tags_for_article(article.tags)
        %time
          Written on
          = succeed "." do
            = article.date.strftime('%B %e %Y')
