---
title: Articles
---

= partial 'shared/title', locals: { offset: 3 }  do
  %h1 Articles
  %p.subtitle
    Personal articles in
    = succeed "," do
      %span.category--personal blue
    technical articles in
    = succeed "." do
      %span.category--technical green

- year = nil
- blog('articles').articles.each do |article|
  - if year != article.date.year
    .row.for-year
      - year = article.date.year
      .medium-2.columns.medium-offset-1
        %h1.year= year
      .articles--list.medium-9.columns
        - blog('articles').articles.each do |article|
          - if article.date.year == year
            = partial 'articles/article', locals: { article: article }
