- content_for :postClasses, article_body_classes(current_article)
- content_for :javascript do
  :javascript
    $(function() {
      lazy();
      gallery();
    });

= wrap_layout :layout do
  %article.article
    = partial 'shared/title', locals: { image: current_article.data['header'], height: current_article.data['header-height'] } do
      %h1.title--header= current_article.title
      - if current_article.data['description']
        %p.title--description= current_article.data['description']
      %span.title--meta
        Written on
        = full_date(current_article.date)
        - if current_article.tags.length > 0
          in
          = succeed '.' do
            = tag_links(current_article.tags, 'articles')

    .row
      = partial 'shared/author'
      = yield

    .row.comments
      .medium-10.medium-offset-1.large-7.large-offset-2.columns.comments--divider
        %h2 Comments
        = partial 'shared/comments', locals: { commentable: current_article }
