!!!5
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

    %title= current_page.data.title ? "#{current_page.data.title} - Adam Fortuna" : 'Adam Fortuna'
    %link{href: 'http://fonts.googleapis.com/css?family=Droid+Sans:400,700'}
    = stylesheet_link_tag 'app'
  %body{:class => custom_page_classes}
    = partial 'layouts/nav'
    = yield
    = partial 'layouts/footer'
    = javascript_include_tag 'app'
    = yield_content :javascript
