!!!5
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

    %title= current_page.data.title ? "#{current_page.data.title} - Adam Fortuna" : 'Adam Fortuna'
    = yield_content :before_stylesheets
    %link{href: 'http://fonts.googleapis.com/css?family=Droid+Sans:400,700'}
    %link{rel: 'alternate', type: 'application/rss+xml', title: 'Adam Fortuna', href: 'http://feeds.feedburner.com/adamfortuna' }
    = stylesheet_link_tag 'app'
    :javascript
      window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var n=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(n?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var o=document.getElementsByTagName("script")[0];o.parentNode.insertBefore(a,o);for(var r=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["clearEventProperties","identify","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=r(p[c])};
      heap.load("1032821938");
  %body{:class => custom_page_classes}
    = partial 'layouts/nav'
    = yield
    = partial 'layouts/footer'
    = javascript_include_tag 'app'
    = yield_content :javascript

    - unless environment == :development
      = partial 'shared/google_analytics'
