= wrap_layout :layout do
  %article
    = partial 'shared/title' do
      %h1= current_article.title
      %span.meta
        Written
        = current_article.date.strftime('%B %e, %Y')
        in
        = current_article.tags.join(', ')

    -# .row
    -#   .medium-1.medium-offset-11.end.columns
    -#     = partial 'shared/author'
    = yield
