- content_for :javascript do
  :javascript
    $(function() {
      lazy();
      gallery();
    });

= wrap_layout :layout do
  - parent = current_article.data['children'] ? current_article : photo_lookup(current_article.data['collection'], current_article.data['parent'])
  - parent ||= current_article


  %article.photo
    - if current_article.data['series'] || parent.data['children']
      = partial 'photos/children', locals: {current_article: current_article }
    = partial 'shared/title', locals: { image: current_article.data['header'], height: current_article.data['header-height'] } do
      %h1.title--header= current_article.title
      - if current_article.data['description']
        %p.title--description= current_article.data['description']
      %p.title--meta
        Written
        = current_article.date.strftime('%B %e, %Y')
        in
        = current_article.tags.join(', ')

    - if current_article.data['series'] && parent.data['series']
      - if parent
        .row
          .col-md-10.offset-md-1.col-lg-8.offset-lg-2.c
            %p.photo-collection--warning
              This post is part of the
              = parent.data['children'].length + 1
              part photo collection,
              = succeed '.' do
                %a{ href: parent.url }= parent.title
    = yield

    - if current_article.data['series'] || parent.data['series']
      = partial 'photos/series', locals: { article: current_article, parent: parent }

    .row.comments
      .col-md-10.offset-md-1.col-lg-8.offset-lg-2.comments--divider
        %h2 Comments
        = partial 'shared/comments', locals: { commentable: parent || current_article }

  = partial 'photos/photoswipe'
