= wrap_layout :layout do
  %article.photo
    = partial 'shared/title', locals: { image: current_article.data['header'], height: current_article.data['header-height'] } do
      - if current_article.data['children'] || photo_lookup(current_article.data['collection'])
        = partial 'photos/children', locals: {current_article: current_article}
      %h1.title--header= current_article.title
      - if current_article.data['description']
        %p.title--description= current_article.data['description']
      %p.title--meta
        Written
        = current_article.date.strftime('%B %e, %Y')
        in
        = current_article.tags.join(', ')

    - if current_article.data['collection'] && current_article.data['permalink']
      - if parent = photo_lookup(current_article.data['collection'])
        .row
          .medium-10.medium-offset-1.large-8.large-offset-2.columns.c
            %p.photo-collection--warning
              This post is part of the
              = parent.data['children'].length + 1
              part photo collection,
              = succeed '.' do
                %a{ href: "/photos/#{current_article.data['collection']}/"}= parent.title
    = yield

    .row.comments
      .medium-10.medium-offset-1.large-8.large-offset-2.columns.comments--divider
        %h2 Comments
        = disqus
