---
title: What I'm Doing Right Now
layout: about
---

= partial 'shared/title', locals: { offset: 2, medium_offset: 1 } do
  %img.face.left{src: '/images/adam-fortuna.png', alt: 'Adam Fortuna'}
  %h1.title--header.small-8.columns.end Now
  %p.title--meta.small-12.medium-8.left.columns.title--author
    What am I working on right now?

= partial 'shared/content' do
  %p.subtitle.light
    This site is a collection of whatever I'm interested in -- from
    = link_to 'technical articles', '/articles/tags/technical', class: 'category--technical'
    to
    = link_to 'personal posts', '/articles/tags/technical', class: 'category--personal'
    to
    = succeed '.' do
      = link_to 'travel photos', '/photos'
    Also a good place to experiment with new technologies!

  %div{class: 'pull-right' }
    %p.subtitle.light Last updated 2016.08.18.

  %h2 What I'm Doing Right Now

  %p
    Living in Orlando (and planning to be here a while!). Here's what I'm spending most of my time doing.

  .pull-left
    %p
      %img.face{src: '/images/galleries/codeschool/logo.png', alt: 'Code School'}


  %h2 Work
  %ul
    %li
      Switching from an engineer and a people manager to a Product Manager at
      = succeed '.' do
        %a{ href: 'https://www.codeschool.com' } Code School
    %li Understanding and learning just what a Product Manager does, and how to drive useful change at the company.
    %li Learning how to interview users to better Code School. (note: if you want to be interviewed, feel free to email me in the email in the footer.)

  %h2 Personal
  %ul
    %li
      Going to
      %a{ href: '/articles/crossfit'} CrossFit
      a 2-3 times a week. Doing a lot less than I used to.
    %li
      Practicing handstand walks before every CrossFit class, attempting to work up to my
      %a{ href: '/about/goals'} goal
      of a 25m walk.
    %li
      Starting up a new blog at
      %a{ href: 'http://minafi.com'} minafi.com
      to blog about a few interests that don't fall in line with this site.
    %li Spending entirely too much time playing Pokemon Go.

  %p.subtitle.light
    Inspiration for this page from
    %a{href: 'http://sivers.org/now' } Derek Sivers
    idea which turned into
    = succeed '.' do
      %a{ href: 'http://nownownow.com/' } nownownow.com
