---
title: What I'm Doing Right Now
layout: about
---

= partial 'shared/title', locals: { offset: 2, medium_offset: 1 } do
  %img.face.left{src: '/images/adam-fortuna.png', alt: 'Adam Fortuna'}
  %h1.title--header.small-8.columns.end Now
  %p.title--meta.small-12.medium-8.left.columns.title--author
    What am I working on right now?

= partial 'shared/content' do
  %p.subtitle.light
    This site is a collection of whatever I'm interested in -- from
    = link_to 'technical articles', '/articles/tags/technical', class: 'category--technical'
    to
    = link_to 'personal posts', '/articles/tags/technical', class: 'category--personal'
    to
    = succeed '.' do
      = link_to 'travel photos', '/photos'
    Also a good place to experiment with new technologies!

  %div{class: 'pull-right' }
    %p.subtitle.light Last updated 2017.05.06.

  %h2 What I'm Doing Right Now

  %p
    For the last 17 years I've been living in Orlando, FL. Here's what I'm spending most of my time doing.

  %h2 Work
  %ul
    %li
      Switching from an engineering/people manager to a Product Manager at
      = succeed ',' do
        %a{ href: 'https://www.pluralsight.com' } Pluralsight
      an online education website focused on technology.
    %li Doing a bunch of user interviews a week (3-7) and starting to feel more at ease when doing them. Like anything else, the more you do it, the easier it gets.
    %li Working with a great team to build "Projects" -- a way for people to learn by coding real work applications on their local machines.
    %li Creating a research portal with the goal of helping the various product teams collaborate better.

  %h2 Web
  %ul
    %li
      Blogging off and on over at
      %a{ href: 'http://minafi.com'} minafi.com
      a way to help focus my attention, and keep my interests focused.
    %li
      Helping Marilyn iterate on her blog,
      %a{ href: 'http://forkful.net' } Forkful.net
    %li
      Starting to work on the process of becoming a
      %a{ href: 'https://www.pluralsight.com' } Pluralsight
      author.
    %li
      Keeping my eyes open for new projects to work on.

  %h2 Personal
  %ul
    %li Adjusting to married life after tying the knot in February.
    %li
      Trying to
      %a{ href: '/articles/crossfit'} CrossFit
      a few times a week. Between travel and being sick lately, I've gotten off track.
    %li Playing a bunch of Mario Kart 8 on Wii U.
    %li Weeding out things in the house and getting rid them.

  %p.subtitle.light
    Inspiration for this page from
    %a{href: 'http://sivers.org/now' } Derek Sivers
    idea which turned into
    = succeed '.' do
      %a{ href: 'http://nownownow.com/' } nownownow.com
