---
title: What I'm Doing Right Now
layout: about
---

= partial 'shared/title', locals: { offset: 2, medium_offset: 1 } do
  %img.face.left{src: '/images/adam-fortuna.png', alt: 'Adam Fortuna'}
  %h1.title--header.small-8.columns.end Now
  %p.title--meta.small-12.medium-8.left.columns.title--author
    What am I working on right now?

= partial 'shared/content' do
  %p.subtitle.light
    This site is a collection of whatever I'm interested in -- from
    = link_to 'technical articles', '/articles/tags/technical', class: 'category--technical'
    to
    = link_to 'personal posts', '/articles/tags/technical', class: 'category--personal'
    to
    = succeed '.' do
      = link_to 'travel photos', '/photos'
    Also a good place to experiment with new technologies!

  %div{class: 'pull-right' }
    %p.subtitle.light Last updated 2015.11.28.

  %h2 What I'm Doing Right Now

  %p
    Living in Orlando (and planning to be here a while!). Here's what I'm spending most of my time doing.

  .pull-left
    %p
      %img.face{src: '/images/galleries/codeschool/logo.png', alt: 'Code School'}


  %h2 Work
  %ul
    %li
      Leading the course team at
      %a{ href: 'https://www.codeschool.com' } Code School
      (a
      %a{ href: 'http://pluralsight.com' } Pluralsight
      Company).
    %li Speaking up more at Code School about potential changes and ideas.
    %li
      Writing the content for a new Code School course on
      %a{ href: 'http://d3js.org/' } D3.js

  %h2 Personal
  %ul
    %li
      Going to
      %a{ href: '/articles/crossfit'} CrossFit
      a few times a week.
    %li
      Trying to streamline the creation of my
      %a{ href: '/photos'} Photo Posts
      by using a little more Ruby.
    %li Writing a photo post about our trip to Montreal and finishing the Italy post.
    %li
      Trying to hit 75
      %a{ href: '/books' } books
      read in 2015.
    %li Getting ready for a trip to Finland/Germany/Amsterdam next year!


  %h2 Technologies

  %p Things I'm learning or trying to learn about right now.

  %ul
    %li
      %a{ href: 'http://d3js.org/' } D3.js
    %li
      %a{ href: 'http://neo4j.com/' } Neo4j

  %p.subtitle.light
    Inspiration for this page from
    = succeed '.' do
      %a{href: 'http://sivers.org/now' } Derek Sivers
