---
title: Gallery
layout: gallery
---

- content_for :javascript do
  :javascript
    $(function() {
      lazy();
      gallery();
    });

- gallery = Gallery::Gallery.new(path)

= partial 'shared/title' do
  %h1.title--header
    Gallery
    = gallery.name
  %p.title--description= "Photos: #{gallery.photos_count}"

= gallery.to_html

.row
  .large-8.large-offset-2.columns.end
    %pre= gallery.to_yml

= partial 'photos/photoswipe'
