---
title: About
layout: about
---

= partial 'shared/title', locals: { offset: 2, medium_offset: 1 } do
  %img.face.left{src: '/images/adam-fortuna.png', alt: 'Adam Fortuna'}
  %h1.title--header.small-8.columns.end About
  %p.title--meta.small-12.medium-8.left.columns.title--author
    = partial 'shared/author_content'

= partial 'shared/content' do
  %p.subtitle.light
    This site is a collection of whatever I'm interested in -- from
    = link_to 'technical articles', '/articles/tags/technical', class: 'category--technical'
    to
    = link_to 'personal posts', '/articles/tags/technical', class: 'category--personal'
    to
    = succeed '.' do
      = link_to 'travel photos', '/photos'
    Also a good place to experiment with new technologies!

  %div{class: 'pull-right' }
    %p Let's just get these out of the way.

  %h2 Common Questions

  %h3 Are you looking for work?

  .pull-left
    %p
      %img.face{src: '/images/galleries/codeschool/logo.png', alt: 'Code School'}

  %p
    Nope, I'm happily employed as the Technology Director at
    %a{ href: 'https://www.codeschool.com' } Code School
    for the last 4 years innovating on code education. I'm constantly learning new things and looking for new and interesting ways to teach.

  %h3 Who made that awesome mustached avatar?

  %div{class: 'pull-left' }
    %p
      %img.face{src: '/images/adam-fortuna.png', alt: 'Adam Fortuna'}

  %p
    It was made by
    = succeed ',' do
      %a{href: 'http://drewbarontini.com/'} Drew Barontini
    a coworker of mine at Code School. He made awesome mustached versions of everyone in the office for the
    %a{href: 'http://madewithenvy.com/'} Envy
    homepage back in the day. Even though I don't have a mustache, I love the icon.

  %h3 What was this site made in?

  %p
    It's all made with
    %a{href: 'https://middlemanapp.com/'} Middleman
    right now. On the front-end side, I'm using the
    %a{href: 'http://foundation.zurb.com/'} Foundation Framework
    for some things, and a healthy dose of custom
    %a{href: 'http://sass-lang.com/'} Sass
    for the rest. Everything is hosted on Amazon S3, using
    %a{href: 'https://github.com/fredjean/middleman-s3_sync'} Middleman S3 Sync
    to deploy everything. If you're curious about more, check out
    = succeed '.' do
      %a{ href: '/articles/how-i-create-photo-albums'} How I create photo albums

  %h3 How can I get in touch?

  %p
    If you'd like to get in touch, fill out
    %a{ href: 'https://docs.google.com/forms/d/1GmjkT8u3iETk7qXO4-gJkZs4baX5KiaILLkZoABtWh8/viewform?usp=send_form' }this Google Form
    and I'll get back to you.

  %h2 Focuses (Foci?)

  %p Here's a few areas of my life are my major focuses.

  %h3 Goals

  %p
    I like to document and organize my
    %a{href: '/about/goals'} Goals
    – somewhat obsessively. I've been doing these on my own in Evernote for a
    while and decided to finally share them.


  %h3 Orlando

  %p
    Ten years ago I wouldn't have guessed it, but I love Orlando.
    I came here for college (UCF, 2000-2005) and hung around for some jobs, but
    now I love it.

  %h3 Tools

  %p
    Spending all day on a computer, and using the same one for personal use and
    professional use, makes tools (software) essential. There's a few tools I use that stand out as the most important. Namely a Mac, an iPhone, Atom, Evernote, 1Password, a Fuji XT-1, Lightroom, Things, Slack and Fantastical.

  %h3 Books

  %p
    I listen to a
    %i lot
    of audiobooks. I've written about my
    = succeed ',' do
      %a{href: '/articles/audiobooks'} Audiobook Habit
    but I also actively maintain a
    %a{href: '/books'} books
    page which shows what I'm currently reading and what I've most recently
    read.

  %h3 Code School

  %p
    Since April 2011, I've been happily working at
    %a{href: 'https://www.codeschool.com'} Code School
    working on educational content in the coding world. It's been the job
    of a lifetime so far with new ideas always on the horizon.

  %p
    In 2014 I finally bought a "good" camera and taking lots of
    = succeed '.' do
      %a{href: '/photos'} photos
    These include anything from trips to
    %a{href: '/photos/japan/adam-and-marilyn-go-to-japan'} japan
    to
    = succeed '.' do
      %a{href: '/photos/events/the-great-orlando-mixer'} parties in Orlando

  %h3 More Randomness

  %p
    Even though I haven't written articles about these topics, they're very
    important too. :)

  %ul
    %li Have a cute girlfriend and dog
    %li Loves trying new restaurants and food trucks
    %li Mac obsessed geek
    %li Casual console and arcade gamer
    %li Sci-fi, fantasy and anime and general movie fan
    %li Big Sci-fi book reader
    %li CrossFit member
