Hey hey! I'm a developer who lives in
= succeed '.' do
  = link_to 'Orlando, FL', '/about/orlando'
I work at
= succeed ',' do
  = link_to 'Code School', '/about/codeschool'
listen to a lot of
= succeed ',' do
  = link_to 'audiobooks', '/about/audiobooks'
set way too many
= link_to 'goals', '/about/goals'
and
= link_to 'tweet', 'http://twitter.com/adamfortuna'
often.
