Hey hey! I'm a developer who lives in Orlando, FL.
Right
= link_to 'now', '/now'
I work at
= succeed ',' do
  = link_to 'Code School', 'http://www.codeschool.com'
listen to a lot of
= succeed ',' do
  = link_to 'audiobooks', '/books'
set way too many
= link_to 'goals', '/about/goals'
and
= link_to 'tweet', 'http://twitter.com/adamfortuna'
often.
%a.troll{href: "javascript: troll();"}
  %i.fi-music
