.row.comments
  .medium-7.medium-offset-2.columns.divider
    %h2 Comments

    #disqus_thread{:"aria-live" => 'polite'}

:javascript
  var disqus_shortname = "#{data.config.disqus}",
      disqus_identifier = "#{data.config.disqus}-/#{commentable.data.permalink}",
      disqus_url = "#{data.config.url}/articles/#{commentable.data.permalink}",
      disqus_script = 'embed.js';

  (function() {
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = '//go.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
