- offset ||= 2
- columns = 12 - offset

- if (defined? image) && image
  - content_for :pageClasses, 'has-title-image'

  %header.image.title{ style: "background: url(#{image}) no-repeat top center; min-height: #{height}px;" }
    .wrap{ style: "min-height: #{height}px;" }
      .row
        .columns{ class: "medium-#{columns} medium-offset-#{offset}"}
          = yield
- else
  %header.title
    .row
      .columns{ class: "medium-#{columns} medium-offset-#{offset}"}
        = yield
