- offset ||= 2
 
- if (defined? image) && image
  - content_for :pageClasses, 'has-title-image'

  %header.title--image.title{ style: "background: url(#{image}) no-repeat top center; min-height: #{height}px;" }
    .title--wrap{ style: "min-height: #{height}px;" }
      .row
        .columns{ class: classes_from_offset(offset) }
          = yield
- else
  %header.title
    .row
      .columns{ class: classes_from_offset(offset) }
        = yield
