= partial 'shared/title', locals: { offset: 1, medium_offset: 0 } do
  %img.face.left{src: '/images/adam-fortuna.png', alt: 'Adam Fortuna'}
  %h1.title--header.small-8.columns.end Adam Fortuna
  %p.title--meta.small-12.medium-8.left.columns.title--author
    = partial 'shared/author_content'

.row
  .articles--list.large-5.large-offset-1.columns
    %p.subtitle.light
      %strong Articles.
      In the mood for
      %a.category--personal{ href: '/tags/personal' } personal
      or
      = succeed "?" do
        %a.category--technical{ href: '/tags/technical' } technical

    - blog('articles').articles[0..10].each do |article|
      = partial 'articles/article', locals: { article: article }

    .row.article--item
      %a.article--link.small-12.columns{:href => '/articles'}
        %span.article--title More Articles
        %p.article--meta
          = blog('articles').articles.length
          articles total.

  .large-6.columns.end.right-side
    %p.subtitle.light
      %strong Travel Photos.
      Recent trips and getaways.
      %a{ href: '/photos/japan'} Japan
      is my favorite.

    %ul.no-bullet.photos-list.photos-list--travel
      - matches = 0
      - blog('photos').articles.each do |article|
        - if (matches < 3) && (has_tag?(article, 'Travel'))
          - matches = matches + 1
          %li.photos-list--item
            = partial 'photos/travel', locals: { article: article }

    .row.article--item.article-tag--meta
      %a.article--link.small-12.columns{:href => '/photos'}
        %span.article--title More Photos
        %p.article--meta
          = blog('photos').articles.length
          photo posts.

.row
  .large-offset-1.large-11.index--events
    %p.subtitle.light
      %strong Event Photos.
      Mostly pictures from happenings in
      = succeed '.' do
        %a{ href: '/about/orlando' } Orlando

    %ul.no-bullet.photos-list.photos-list--asides.row
      - matches = 0
      - blog('photos').articles.each do |article|
        - if (matches < 9) && !(has_tag?(article, ['Travel', 'Ignore']))
          - matches = matches + 1
          %li.medium-6.large-4.columns.left.aside-list--item
            = partial 'photos/event', locals: { article: article }
