= partial 'shared/title', locals: { offset: 1, medium_offset: 0 } do
  .container
    %img.face.left{src: '/images/adam-fortuna.png', alt: 'Adam Fortuna'}
    %h1.title--header.col-sm-8 Adam Fortuna
    %p.title--meta.col-sm-12.col-md-8.left.title--author
      = partial 'shared/author_content'

.container
  .row
    .articles--list.col-lg-5.offset-lg-1.left-side
      %p.subtitle.light
        %strong Articles.
        In the mood for
        %a.category--personal{ href: '/articles/tags/personal' } personal
        or
        = succeed "?" do
          %a.category--technical{ href: '/articles/tags/technical' } technical

      - blog('articles').articles[0..10].each do |article|
        = partial 'articles/article', locals: { article: article }

      .row.article--item
        %a.article--link.col-sm-12{:href => '/articles'}
          %span.article--title More Articles
          %p.article--meta
            = blog('articles').articles.length
            articles total.

    .col-lg-6.right-side
      %p.subtitle.light
        %strong Travel Photos.
        Recent trips and getaways.
        %a{ href: '/photos/japan/adam-and-marilyn-go-to-japan'} Japan
        is my favorite.

      %ul.no-bullet.photos-list.photos-list--travel
        - travel_photos[0..3].each do |article|
          %li.photos-list--item
            = partial 'photos/travel', locals: { article: article }

      .row.article--item.article-tag--meta
        %a.article--link.col-sm-12{:href => '/photos'}
          %span.article--title More Photos
          %p.article--meta
            = blog('photos').articles.length
            photo posts.

  .row
    .offset-lg-1.col-lg-11.index--events
      %p.subtitle.light
        %strong Event Photos.
        Mostly pictures from happenings in
        = succeed '.' do
          %a{ href: '/about/orlando' } Orlando

      %ul.no-bullet.photos-list.photos-list--asides.row
        - event_photos[0..9].each do |article|
          %li.col-md-6.col-lg-4.left.aside-list--item
            = partial 'photos/event', locals: { article: article }
