---
title: Adam Fortuna
---

= partial 'shared/title', locals: { offset: 1 } do
  %h1 Adam Fortuna
  %p.meta Orlando Developer with entirely too much time.

.row
  .articles--list.medium-5.medium-offset-1.columns
    %p.subtitle.light
      %strong Articles.
      Personal in
      = succeed "," do
        %span.category--personal blue
      technical in
      = succeed "." do
        %span.category--technical green

    - blog('articles').articles[0..10].each do |article|
      .row{ class: article_classes(article) }
        %a.medium-12.columns{:href => article.url}
          %span.article-title= article.title
          %p.meta
            %span.tags
              - if article.tags.length > 1
                Tagged with
                = succeed '.' do
                  = tags_for_article(article.tags)
            %time
              Written on
              = succeed "." do
                = article.date.strftime('%B %e %Y')
    .row{ class: 'article-tag--meta' }
      %a.medium-12.columns{:href => '/articles'}
        %span.article-title More Articles
        %p.meta
          = blog('articles').articles.length
          articles total.

  .medium-6.columns.end
    .author
      = partial 'shared/author_content'

    %p.subtitle.light
      %strong Photo Stories
    %ul.no-bullet.photos-list.travel
      - blog('photos').articles.each do |article|
        - if article.tags.include? "Travel"
          %li
            = partial 'photos/travel', locals: { article: article }
      %li
        = link_to 'More Photos', '/photos'
